In [1]:
import pandas as pd
log=pd.read_csv('log.csv', header=None)

In [2]:
#меянем заголовки файла log
log.columns=['user_id','time','bet','win']

In [3]:
log.sample(2)

                              user_id                  time  bet  win
301  Запись пользователя № - user_939   [2019-02-02 9:09:54  NaN  NaN
134  Запись пользователя № - user_952  [2019-01-14 13:14:58  NaN  NaN

In [4]:
#загрузка файла со сменой кодировки
users=pd.read_csv('users.csv', encoding='koi8-r', sep='\t')
users.head(2)

     Юзверь                 мейл     Гео
0  User_943  Accumanst@gmail.com  Ижевск
1  User_908    Advismowr@mail.ru  Ижевск

In [5]:
users.columns=['user_id', 'email', 'geo']
users.head(2)

    user_id                email     geo
0  User_943  Accumanst@gmail.com  Ижевск
1  User_908    Advismowr@mail.ru  Ижевск

In [6]:
log.user_id.unique()

array(['Запись пользователя № - user_919',
       'Запись пользователя № - user_973',
       'Запись пользователя № - user_903',
       'Запись пользователя № - user_954',
       'Запись пользователя № - user_917',
       'Запись пользователя № - user_900',
       'Запись пользователя № - user_980',
       'Запись пользователя № - user_906',
       'Запись пользователя № - user_952',
       'Запись пользователя № - user_972',
       'Запись пользователя № - user_966',
       'Запись пользователя № - user_964',
       'Запись пользователя № - user_978',
       'Запись пользователя № - user_968',
       'Запись пользователя № - user_974',
       'Запись пользователя № - user_998',
       'Запись пользователя № - user_990',
       'Запись пользователя № - user_942',
       'Запись пользователя № - user_929',
       'Запись пользователя № - user_976',
       'Запись пользователя № - user_927',
       'Запись пользователя № - user_951',
       'Запись пользователя № - user_949',
       'Запись пользователя № - user_987',
       'Запись пользователя № - user_985',
       'Запись пользователя № - user_992',
       'Запись пользователя № - user_937',
       'Запись пользователя № - user_913',
       'Запись пользователя № - user_948',
       'Запись пользователя № - user_916',
       'Запись пользователя № - user_938',
       'Запись пользователя № - user_997',
       'Запись пользователя № - user_940',
       'Запись пользователя № - user_918',
       'Запись пользователя № - user_960',
       'Запись пользователя № - user_905',
       'Запись пользователя № - user_924',
       'Запись пользователя № - user_958',
       'Запись пользователя № - user_920',
       'Запись пользователя № - user_943',
       'Запись пользователя № - user_935',
       'Запись пользователя № - user_915',
       'Запись пользователя № - user_921',
       'Запись пользователя № - user_999',
       'Запись пользователя № - user_982',
       'Запись пользователя № - user_928',
       'Запись пользователя № - user_944',
       'Запись пользователя № - user_912',
       'Запись пользователя № - user_969',
       'Запись пользователя № - user_901',
       'Запись пользователя № - user_995',
       'Запись пользователя № - user_933',
       'Запись пользователя № - user_986',
       'Запись пользователя № - user_971',
       'Запись пользователя № - user_977',
       'Запись пользователя № - user_979',
       'Запись пользователя № - user_910',
       'Запись пользователя № - user_994',
       'Запись пользователя № - user_907',
       'Запись пользователя № - user_941',
       'Запись пользователя № - user_989',
       'Запись пользователя № - user_955',
       'Запись пользователя № - user_991',
       'Запись пользователя № - user_996',
       'Запись пользователя № - user_926',
       'Запись пользователя № - user_984',
       'Запись пользователя № - user_957',
       'Запись пользователя № - user_914',
       'Запись пользователя № - user_988',
       'Запись пользователя № - user_923',
       'Запись пользователя № - user_967',
       'Запись пользователя № - user_945',
       'Запись пользователя № - user_993',
       'Запись пользователя № - user_908',
       'Запись пользователя № - user_930',
       'Запись пользователя № - user_981',
       'Запись пользователя № - user_936',
       'Запись пользователя № - user_922',
       'Запись пользователя № - user_962',
       'Запись пользователя № - user_965',
       'Запись пользователя № - user_959',
       'Запись пользователя № - user_963',
       'Запись пользователя № - user_904',
       'Запись пользователя № - user_931',
       'Запись пользователя № - user_1000',
       'Запись пользователя № - user_946',
       'Запись пользователя № - user_970',
       'Запись пользователя № - user_939',
       'Запись пользователя № - user_961',
       'Запись пользователя № - user_911',
       'Запись пользователя № - user_950',
       'Запись пользователя № - user_956',
       'Запись пользователя № - user_909',
       'Запись пользователя № - user_983',
       'Запись пользователя № - user_902',
       'Запись пользователя № - user_947',
       'Запись пользователя № - user_975',
       'Запись пользователя № - user_953',
       'Запись пользователя № - user_925',
       'Запись пользователя № - user_934',
       'Запись пользователя № - user_932', '#error'], dtype=object)

In [7]:
log_win=log[log['win']>0]

In [8]:
win_count=len(log_win)
win_count

138

In [9]:
log2=log.query('bet<2000 & win>0')
log2.sample(2)

                              user_id                  time     bet     win
732  Запись пользователя № - user_909   [2019-03-21 7:22:31  1000.0  7189.0
955  Запись пользователя № - user_967  [2019-04-18 19:43:51   200.0  5213.0

In [10]:
new_log=log[~log.user_id.str.match("#error")]

In [11]:
#log.user_id=log.user_id.apply(lambda x: x.replace('Запись пользователя № - ','') )
#log.user_id=log.user_id.apply(lambda x: x.replace("#error",''))

log.head(2)

                            user_id                  time  bet  win
0  Запись пользователя № - user_919  [2019-01-01 14:06:51  NaN  NaN
1  Запись пользователя № - user_973  [2019-01-01 14:51:16  NaN  NaN

In [12]:
def users(us):
    if "Запись" in us:
        return us[24:]
    elif "#error" in us:
        return ""
log.user_id=log.user_id.apply(users)

In [13]:
log.time=log.time.str.strip('[')
log.sample(2)

      user_id                 time    bet     win
522  user_947  2019-02-26 15:01:40  100.0  4378.0
623  user_996  2019-03-09 12:51:58    NaN     NaN

In [14]:
len(log[log.time.isna()])

15

In [15]:
#из 2х столбцов user_id и time оставляем где нет пропусков и объединяем с оставшейся частью таблицы
res = pd.concat([log[['user_id', 'time']].dropna(axis = 1), log[['bet', 'win']]])
res.sample(2)

      user_id    bet     win
921       NaN  600.0  5340.0
16   user_974    NaN     NaN

In [16]:
ret = log.dropna(subset=['user_id', 'time'], axis = 0)
ret.sample(2)

      user_id                 time    bet  win
471  user_959  2019-02-20 20:32:30  700.0  NaN
130  user_993   2019-01-14 1:14:30    NaN  NaN

In [17]:
#удалить дубликаты из столбцов user_id, time
log = pd.read_csv('log.csv', header = None)
log.columns = ['user_id','time','bet','win']
res = log.drop_duplicates(subset = ['user_id', 'time'])
res.sample(2)

                              user_id                 time    bet     win
812  Запись пользователя № - user_917  [2019-03-31 6:25:54  600.0  6439.0
329  Запись пользователя № - user_934  [2019-02-06 0:18:15    NaN     NaN

In [18]:
#убрать символ "[" перед датой, преобразовать в дату
log = pd.read_csv('log.csv', header = None)
log.columns = ['user_id','time','bet','win']
log.time = log.time.str.strip('[')
res = log.drop_duplicates(subset = ['user_id', 'time'])
res.sample(2)

                              user_id                 time    bet  win
679  Запись пользователя № - user_954  2019-03-16 13:21:35  400.0  NaN
172  Запись пользователя № - user_941  2019-01-19 19:57:19    NaN  NaN

In [19]:
#убираем дубликаты, переименовываем, убираем первый символ в time и переводим в формат даты и времени, берем только минуты
log = pd.read_csv("log.csv")  
log = log.dropna()  
log.columns = ['user_id', 'time', 'bet', 'win']  
log['time'] = log['time'].apply(lambda x: x[1:])  
log['time'] = pd.to_datetime(log['time'])
log['time'] = log.time.apply(lambda x: x.minute)
log['time'].head()

13     57
28     59
150    54
188    34
204    26
Name: time, dtype: int64

In [20]:
#дополнительно к прошлому создаем новую серию с годом
log = pd.read_csv("log.csv")  
log = log.dropna()  
log.columns = ['user_id', 'time', 'bet', 'win']  
log['time'] = log['time'].apply(lambda x: x[1:])  
log['time'] = pd.to_datetime(log['time'])
year_column = log['time'].dt.year
year_column

13     2019
28     2019
150    2019
188    2019
204    2019
       ...
966    2019
970    2019
971    2019
975    2019
990    2019
Name: time, Length: 133, dtype: int64

In [21]:
test = pd.Series([1, 1, 1, 2, 3, 4, 4])  
test.value_counts(ascending = True)

2    1
3    1
4    2
1    3
dtype: int64

In [22]:
log = pd.read_csv('log.csv', header = None)
log.columns = ['user_id', 'time', 'bet', 'win']

log.time=log.time.str.strip('[')
log['time'] = pd.to_datetime(log['time'])
log['minute'] = log['time'].dt.minute
log['month'] = log['time'].apply(lambda x: x.month)
log['day_of_week'] = log['time'].dt.dayofweek
log.sample(2)

,user_id,time,bet,win,minute,month,day_of_week
234,Запись пользователя № - user_916,2019-01-26 01:14:55,NaN,NaN,14.0,1.0,5.0
636,Запись пользователя № - user_934,2019-03-10 16:10:41,NaN,NaN,10.0,3.0,6.0

In [23]:
log.groupby('user_id').agg({'bet':'sum'}).bet.sort_values()

user_id
Запись пользователя № - user_956        500.0
Запись пользователя № - user_901        600.0
Запись пользователя № - user_904        600.0
Запись пользователя № - user_932        700.0
Запись пользователя № - user_936        800.0
                                      ...
Запись пользователя № - user_905      53395.0
#error                                78378.0
Запись пользователя № - user_910     232121.0
Запись пользователя № - user_917     304221.0
Запись пользователя № - user_942    1791528.0
Name: bet, Length: 102, dtype: float64

In [24]:
#минута, которая встречаталсь чаще всего
log['minute'].value_counts(ascending = False).head()

36.0    25
31.0    23
6.0     22
50.0    22
14.0    21
Name: minute, dtype: int64

In [25]:
#месяц, который встречался реже всего
log['month'].value_counts(ascending = True)

4.0    170
2.0    259
3.0    264
1.0    292
Name: month, dtype: int64

In [26]:
#количество выходных дней
log.day_of_week.value_counts()[5] + log.day_of_week.value_counts()[6]

283

In [27]:
#количество выходных дней
holidays = log['day_of_week'].apply(lambda x: x > 4)
sum(holidays)

283

In [28]:
#количество выходных дней
sum(log['day_of_week'] > 4)

283

In [29]:
#с 0 до 5 часов — ночь, с 6 до 11 — утро, с 12 до 17 — день, с 18 до 23 — вечер.
log = pd.read_csv('log.csv', header = None)
log.columns = ['user_id', 'time', 'bet', 'win']

log.time=log.time.str.strip('[')
log['time'] = pd.to_datetime(log['time'])
log = log.dropna(axis = 0, subset=['time'])
log['hour'] = log.time.dt.hour

def daytime (hour):
    if hour >= 0 and hour <= 5:
        return 'ночь'
    elif hour >= 6 and hour <= 11:
        return 'утро'
    elif hour >=12 and hour <= 17:
        return 'день'
    elif hour >= 18 and hour <= 23:
        return 'вечер'

log.hour = log.hour.apply(daytime)
log.hour.value_counts(ascending = True)

вечер    227
день     240
утро     253
ночь     265
Name: hour, dtype: int64

In [30]:
log = pd.read_csv('log.csv', header = None)
log.columns = ['user_id', 'time', 'bet', 'win']
log = log.dropna()
log.time=log.time.str.strip('[')
log['time'] = pd.to_datetime(log['time'])
log['hour'] = log.time.dt.hour
log.sample(2)

,user_id,time,bet,win,hour
955,Запись пользователя № - user_967,2019-04-18 19:43:51,200.0,5213.0,19
966,Запись пользователя № - user_940,2019-04-19 20:34:13,10754.0,32279.0,20

In [31]:
#пропуски в столбце bet не удаляются, а равны 0
log = pd.read_csv('log.csv', header = None)
log.columns = ['user_id', 'time', 'bet', 'win']
log['bet'].fillna(0).value_counts()

0.0          515
500.0         50
100.0         48
300.0         42
800.0         42
200.0         40
400.0         40
700.0         38
600.0         37
1000.0        37
900.0         30
9754.0        10
10554.0       10
10154.0        7
10254.0        7
10454.0        6
9954.0         6
10754.0        5
10654.0        5
10354.0        4
10054.0        4
9854.0         2
5000.0         1
27000.0        1
9876.0         1
156789.0       1
12945.0        1
12548.0        1
145732.0       1
1678321.0      1
98753.0        1
123981.0       1
104540.0       1
8700.0         1
950.0          1
8734.0         1
7650.0         1
Name: bet, dtype: int64

In [32]:
#Посчитайте, сколько раз участники ставок проиграли деньги. 
#То есть посчитайте количество строк, для которых в столбце win находится отрицательное значение.
log = pd.read_csv('log.csv', header = None)
log.columns = ['user_id', 'time', 'bet', 'win']

log.bet = log['bet'].fillna(0)
log.win = log['win'].fillna(0)

def fillna_win(row):  
    if row.win != 0:
        return row.win
    if row.win == 0:
        if row.bet == 0:
            return row.win
        if row.bet != 0:
            return -row.bet

new_win = log.apply(lambda row: fillna_win(row), axis=1)  
  
# Заменяем старый столбец с пропусками на новый без пропусков  
log['win'] = new_win
sum(log.win < 0)

347

In [33]:
#Создайте признак net, хранящий сумму выигрыша с учетом ставки. 
#Для этого из признака win поэлементно вычтите признак bet и запишите в новый столбец. 
#После этого посчитайте, у скольких людей выигрыш положительный.

log = pd.read_csv('log.csv', header = None)
log.columns = ['user_id', 'time', 'bet', 'win']

log.bet = log['bet'].fillna(0)
log.win = log['win'].fillna(0)

log['net'] = log['win'] - log['bet']

sum(log.net > 0)

138

In [34]:
#среднее значение по столбцу net при net>0
round(log[log['net'] > 0].net.mean(),0)

80253.0

In [35]:
#медианное значение по столбцу net при net>0
round(log[log['net'] > 0].net.median(),0)

5347.0

In [36]:
#процент людей, совершивших ставку
sum(log['bet'] > 0) / len(log['bet']) * 100

48.5

In [37]:
#среднее значение положительной ставки
log[log['bet'] > 0].bet.mean()

6785.738144329897

In [38]:
#среднее значение по столбцу net, если ставка была сделана
log[log['bet'] > 0].net.mean()

20421.892783505155

In [39]:
#средний размер проигрыша
log[log['net'] < 0].net.mean()

-3372.743515850144

In [40]:
#сравнение % выигрыша и проигрыша
winner = round(len(log[log['net'] > 0].net) / len(log[log['bet'] > 0].net) * 100, 0)
loser = round(len(log[log['net'] < 0].net) / len(log[log['bet'] > 0].net) * 100, 0)
print('% выигрыша составляет: ', winner)
print('% проигрыша составляет: ', loser)

% выигрыша составляет:  28.0
% проигрыша составляет:  72.0

In [41]:
#сколько раз была сделана минимальная ставка
log = pd.read_csv('log.csv', header = None)
log.columns = ['user_id', 'time', 'bet', 'win']

log.bet = log['bet'].fillna(0)
log.win = log['win'].fillna(0)
log['net'] = log.win - log.bet

min_bet = log[log['bet'] > 0].bet.min()
min_bet_amount = log[log['bet'] == min_bet].bet.count()
print(min_bet_amount)

48

In [42]:
#подготовка users к объединению
users=pd.read_csv('users.csv', encoding='koi8-r', sep='\t')
users.columns=['user_id', 'email', 'geo']
users.user_id = users.user_id.apply(lambda x: x.lower())
users.head(2)

    user_id                email     geo
0  user_943  Accumanst@gmail.com  Ижевск
1  user_908    Advismowr@mail.ru  Ижевск

In [43]:
#подготовка log к объединению
log.user_id = log.user_id.apply(lambda x: x.replace('Запись пользователя № - ',''))
log.time=log.time.str.strip('[')
log['time'] = pd.to_datetime(log['time'])
log = log[log.user_id != '#error']

In [44]:
log_us = pd.merge(log, users, how='inner', on='user_id')

In [45]:
#группировка по user_id, медианное значение медианного выигрыша
log_us.groupby('user_id').win.median().median()

0.0

In [46]:
log_us.groupby('user_id').net.sum().median()

1986.0

In [47]:
#среднее количество нулевых ставок на пользователя
wo_bet_count = log_us.query('bet == 0').groupby('user_id').count()
wo_bet_count.bet.mean()

5.05

In [48]:
log_us[log_us.user_id == 'user_996']

,user_id,time,bet,win,net,email,geo
651,user_996,2019-01-10 07:32:17,100.0,0.0,-100.0,Trantawe@yandex.ru,Краснодар
652,user_996,2019-03-03 11:43:38,0.0,0.0,0.0,Trantawe@yandex.ru,Краснодар
653,user_996,2019-03-09 12:51:58,0.0,0.0,0.0,Trantawe@yandex.ru,Краснодар
654,user_996,2019-03-10 10:57:52,100.0,4056.0,3956.0,Trantawe@yandex.ru,Краснодар
655,user_996,2019-04-10 04:42:20,800.0,0.0,-800.0,Trantawe@yandex.ru,Краснодар

In [49]:
#создание списка кто делал хоть 1 ставку > 0 и вывод в датафрейме
spisok = log_us.query('bet > 0').user_id.unique().tolist()
log_us[log_us.user_id.isin(spisok)]

,user_id,time,bet,win,net,email,geo
0,user_919,2019-01-01 14:06:51,0.0,0.0,0.0,Chikkaverle@icloud.com,Хабаровск
1,user_919,2019-01-30 10:06:00,0.0,0.0,0.0,Chikkaverle@icloud.com,Хабаровск
2,user_919,2019-02-05 14:33:44,0.0,0.0,0.0,Chikkaverle@icloud.com,Хабаровск
3,user_919,2019-02-14 11:38:05,0.0,0.0,0.0,Chikkaverle@icloud.com,Хабаровск
4,user_919,2019-03-02 04:23:36,300.0,0.0,-300.0,Chikkaverle@icloud.com,Хабаровск
...,...,...,...,...,...,...,...
970,user_932,2019-02-24 22:40:06,0.0,0.0,0.0,BraceWalker@bk.ru,Красноярск
971,user_932,2019-03-15 10:56:14,0.0,0.0,0.0,BraceWalker@bk.ru,Красноярск
972,user_932,2019-03-18 10:13:24,0.0,0.0,0.0,BraceWalker@bk.ru,Красноярск
973,user_932,2019-03-27 12:18:24,0.0,0.0,0.0,BraceWalker@bk.ru,Красноярск
974,user_932,2019-04-18 14:55:26,700.0,6640.0,5940.0,BraceWalker@bk.ru,Красноярск

### Задание 10.11.3**

# Сколько в среднем времени проходит между появлением человека в сервисе и первой ставкой? Считать нужно только тех, кто делал ставку и у кого в файле зарегистрирован первый визит без ставки.

Чтобы узнать это, напишите метод, считающий минимальное время среди ставок равных 0, и минимальное время среди ставок больше 0. После этого верните разницу между вторым и первым числом. Пройдитесь по всем группам. Если в группе нет ставок больше 0, пропустите эту группу. Просуммируйте разницу во времени для каждой группы (с помощью метода, описанного выше) и поделите на количество групп, которые вы не пропустили.

In [50]:
spis_f = log_us.groupby('user_id', as_index = False).agg({'time':'min'}).time.tolist()

In [51]:
log_us2 = log_us[log_us.time.isin(spis_f)]
log_us2 = log_us2[log_us2.bet == 0]
log_us2 = log_us2[['user_id', 'time']]
log_us2

      user_id                time
0    user_919 2019-01-01 14:06:51
8    user_973 2019-01-01 14:51:16
23   user_903 2019-01-01 16:31:16
32   user_954 2019-01-01 17:17:51
56   user_900 2019-01-01 04:37:25
..        ...                 ...
936  user_975 2019-01-31 04:57:32
942  user_953 2019-01-31 09:15:44
950  user_925 2019-02-05 17:33:39
958  user_934 2019-02-06 00:18:15
970  user_932 2019-02-24 22:40:06

[95 rows x 2 columns]

In [52]:
spis_fbet = log_us2.user_id.tolist()

In [53]:
log_us3 = log_us[log_us.user_id.isin(spis_fbet)].query('bet > 0').groupby('user_id', as_index = False).agg({'time':'min'})
log_us3

      user_id                time
0   user_1000 2019-01-28 20:57:37
1    user_900 2019-02-08 10:36:47
2    user_901 2019-03-14 13:51:20
3    user_902 2019-03-09 16:52:11
4    user_903 2019-02-08 11:06:00
..        ...                 ...
90   user_994 2019-03-07 01:47:34
91   user_995 2019-02-26 15:29:25
92   user_997 2019-03-05 11:05:39
93   user_998 2019-01-25 08:57:20
94   user_999 2019-03-15 22:50:47

[95 rows x 2 columns]

In [54]:
itog = pd.merge(log_us2, log_us3, on='user_id')
(itog['time_y']-itog['time_x']).mean()

Timedelta('49 days 13:01:38.873684210')